/* src/assets/scss/app.scss */
html:root {
  --rootColorBlue: #53b5e5;
  --deepBlue: #34abe6;
  --lightBlue: #63ddfa52;
  --deepBlackBlue: #006194;
  --lightGreen: rgba(188, 247, 189, 0.7);
  --red: #ff0000;
  --lightRed: #f7d7d4;
  --white: #ffffff;
  --black: #000;
  --green: #4caf50;
  --lightgrey: #d3d3d3;
  --grey: #808080;
  --darkorchid: #9932CC;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji",SourceSansPro,SolaimanLipi;
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.ci-window * {
  margin: 0;
  padding: 0;
}

body {
  min-width: 28.125rem !important;
}

.ci-box-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ci {
  padding: var(range10);
  /*overflow: scroll;*/
  background-color: var(deepBlackBlue);
  box-sizing: border-box;
  border-radius: var(range10);
}
.ci-window {
  font-family: var(--font-family-sans-serif);
  /*display: none;*/
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  padding-top: 15%;
  /* Location of the box */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.ci-window-body {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  border: 2px solid var(--rootColorBlue);
  width: 780px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)";
  -moz-box-shadow: "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)";
  box-shadow: "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)";
  -webkit-animation-name: animatetop;
  animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.ci-button {
  height: 2.1875rem;
  display: inline-block;
  margin: 0.3125rem;
  padding: 0 1.25rem;
  text-align: center;
  text-decoration: none;
  font: bold 16px/26px Arial, sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: "1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44)";
  -moz-box-shadow: "1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44)";
  box-shadow: "1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44)";
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.ci-button:disabled {
  color: var(--black);
  cursor: not-allowed;
  border: 2px solid var(--lightgrey);
  background-color: var(--white);
}
.ci-button:disabled:hover {
  color: var(--black);
  cursor: not-allowed;
  border: 2px solid var(--lightgrey);
  background-color: var(--white);
}
.ci-button-outline-primary {
  border: 2px solid var(--rootColorBlue);
  background-color: var(--white);
  cursor: pointer;
}
.ci-button-outline-primary:hover {
  color: var(--white);
  background-color: var(--rootColorBlue);
}
.ci-button-outline-danger {
  color: var(--black);
  border: 2px solid var(--red);
  background-color: var(--white);
}
.ci-button-outline-danger:hover {
  color: var(--white);
  background-color: var(--red);
}
.ci-button-outline-success {
  color: var(--black);
  border: 2px solid #4caf50;
  /* Green */
  background-color: var(--white);
}
.ci-button-outline-success:hover {
  color: var(--white);
  background-color: var(--green);
  cursor: pointer;
}
.ci-company-text {
  font-size: 15px;
  text-decoration: none;
  color: #53b5e5;
}
.ci-company-text:hover {
  color: #93c;
}
.ci-company-declaimer {
  font-size: 13px;
  line-height: 1.35;
  text-align: justify;
}
.ci-company-declaimer::selection {
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.ci-loader {
  cursor: progress;
  width: 6.25rem;
  height: 6.25rem;
}
.ci-loader-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.ci-setting-button {
  color: #53b5e5;
  top: 30px !important;
  right: 3% !important;
  position: fixed;
  width: 40px;
  padding: 7px;
  border: 7px solid #53b5e5;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
}

.ci-select {
  font-size: 100%;
  font: 14px/26px Arial, sans-serif;
  background-color: var(--white);
  height: 35px;
  padding: 0.5em 0.6em;
  margin-right: 5px;
  border: 2px solid var(--rootColorBlue);
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 3px var(--lightgrey);
  -moz-box-shadow: inset 0 1px 3px var(--lightgrey);
  box-shadow: inset 0 1px 3px var(--lightgrey);
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.row {
  /*display: block;*/
  margin-bottom: 5px;
}

.ci-header {
  width: 100%;
  color: black;
  font-size: 28px;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 5px solid #53b5e5;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  -khtml-flex-direction: row;
  flex-direction: row;
  align-items: center;
}

.ci-title {
  font-size: 30px;
  font-weight: 800;
  line-height: 1em;
  display: flex;
  align-items: center;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  -khtml-justify-content: flex-start;
  justify-content: flex-start;
}

.ci-logo {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ci-search-box {
  float: left;
  left: 37%;
  display: block;
  position: relative;
  margin: 1px;
  width: 190px;
  height: 35px;
  padding: 2px 4px;
}

.ci-close {
  position: absolute;
  right: 20px;
  font-size: 16px;
  border: 2px solid var(--red);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0 0 2px 4px;
  background-color: var(--red);
  color: white;
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.ci-close:hover {
  cursor: pointer;
}

.ci-setting-body {
  display: inline-block;
  text-align: left !important;
  margin: 0;
  color: var(--black);
  width: 100%;
}

.ci-setting-body-content {
  float: left;
  text-align: left !important;
  margin: 0;
  color: black;
  width: 503px;
}

.acsAppNavUL {
  float: left;
  text-align: left !important;
  list-style: none;
  margin-top: -3px;
}

.acsAppNavUL li {
  padding: 15px 10px 10px 13px;
  text-align: left !important;
  font-size: 15px;
  background-color: var(--rootColorBlue);
  color: var(--white);
  border-bottom: 2px solid var(--white);
}

.acsAppNavUL li:last-child {
  border-bottom: none;
}

.acsAppNavUL li:hover, .acsAppNavUL-li-active {
  background-color: var(--darkorchid);
  cursor: pointer;
}

.acsAppNavUL li:double-button, .acsAppNavUL li::selection {
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.form-input {
  width: 65%;
  height: 30px;
  font-size: 18px;
  text-align: center;
  /*    border: 1px solid #53b5e5;
      border-radius: 5px;
      -webkit-border-radius: 5px;*/
}

.form-input + .form-input {
  margin-top: 10px;
}

.form-input:first-child {
  margin-top: 0;
}

.messagePanel {
  display: none;
  padding: 5px 10px;
  width: 85%;
  text-align: justify;
  position: relative;
  left: 5%;
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 14px;
  /*border-radius: 10px 0 10px 0;*/
}

.ev_error {
  color: var(--red);
  border-left: 3px solid var(--red);
  background-color: var(--lightRed);
}

.ev_success {
  color: var(--green);
  border-left: 3px solid var(--green);
  background-color: var(--lightGreen);
}

.ev_info {
  color: var(--deepBlue);
  border-left: 3px solid var(--rootColorBlue);
  background-color: var(--lightBlue);
}

.priceList {
  width: 100%;
  display: inline-block;
}

.priceItem {
  width: 40%;
  float: left;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  padding: 30px 10px 0 10px;
  height: 130px;
}

.priceItem:hover {
  cursor: pointer;
}

.priceItem + .priceItem {
  margin-left: 25px;
  margin-top: 15px;
}

.priceItem:first-child {
  margin-left: 25px;
  margin-top: 15px;
}

.priceItem:nth-child(1) {
  background-color: gold;
  /*background-color: cornsilk;*/
}

.priceItem:nth-child(2) {
  background-color: aliceblue;
}

/*.priceItem:nth-child(3) {
    background-color: #aeeea1;
}

.priceItem:nth-child(4) {
    background-color: gold;
}*/
.setting-app-pay-symbol {
  color: var(--white);
  padding: 3px;
  border-radius: 0.3125rem;
  font-size: 12px;
}

.unpaid {
  background-color: var(--red);
  margin-left: -51px;
}

.paid {
  background-color: var(--green);
  margin-left: -34px;
}

#setting-app-content-help {
  padding: 0 5px 5px 10px;
  line-height: 1.5;
  overflow-y: scroll;
  height: 500px;
}

/* width */
#setting-app-content-help::-webkit-scrollbar {
  width: 5px;
}

#setting-app-content-help::-webkit-scrollbar-corner {
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* Track */
#setting-app-content-help::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3125rem var(--grey);
  border-radius: var(--red);
}

/* Handle */
#setting-app-content-help::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 0.625rem;
}

.bottom-notification {
  bottom: 14px;
  right: 40px;
  position: fixed;
  width: 43.75rem;
  height: 65px;
  text-align: justify;
  background-color: var(--white);
  padding: 8px 14px;
  border: 2px solid var(--rootColorBlue);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#setting-app-user-payment-type::selection, #setting-app-user-payment-licence::selection, #setting-app-user-payment-date::selection,
#setting-app-user-name::selection,
#setting-app-user-location::selection,
#setting-app-version::selection, #setting-app-install-date::selection, #registered-user-name-plan::selection,
#setting-app-content-help::selection, .app-company-text::selection, .acsAppTitleText::selection,
.bottom-notification::selection {
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.button:disabled, .button:disabled:hover, .button-outline-primary:disabled, .button-outline-primary:disabled, .button-outline-danger:disabled, .button-outline-danger:disabled:hover,
.button-outline-success:disabled, .button-outline-success:disabled:hover, .app-select:disabled {
  color: black;
  cursor: not-allowed;
  border: 2px solid rgba(128, 128, 128, 0.3);
  background-color: white;
}

/*# sourceMappingURL=app.css.map */
